# Salesforce / SFDX / CCI
.cci
.sfdx
/src.orig
/src
.envrc

# Python
*.pyc
__pycache__

# Robot Framework results
robot/core-sfdo-performance-tests/results/
log.html
output.xml
report.html

# Editors
*.sublime-project
*.sublime-workspace
.vscode
.idea
.project
.settings

# Misc
.DS_Store
